.margin{
    color: #77b13e;
}
.margin-l{
    margin-right: 90%;
}
.margin-email{
    margin-right: 90%;
}
.margin-password{
    margin-right: 85%;
}
.border-r{
    border-radius: 20px;
    border: 1px solid black;
}